<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
	<title>HTML/CSS</title>
	<meta name = "og:title" content="Bitmaker Labs //HTML / CSS"></meta>
	<link href="/stylesheet.css" rel="stylesheet" type="text/css">
</head>  
<body>
	<header>
		<p>This is CRM project.</p>
	</header>
	<%= yield %> <!-- これによって、ビューをつないでいる。 -->
</body>
</html>
