<!DOCTYPE html>
<html>
	<head> 
	<meta charset="UTF-8">
	<title>HTML&CSS</title>
	<meta name = "og:title" content="Bitmaker Labs //HTML & CSS"></meta>

	<style>
p{

	color: orange;
}


	</style>
	</head>  

	<body>

	<nav>

<select name="day" multiple>
  <option value="Friday" selected>This is sentence. This is sentence. This is sentence</option>
  <option value="Saturday">This is sentence. This is sentence. This is sentence</option>
  <option value="Sunday">This is sentence. This is sentence. This is sentence</option>
</select>

	</nav>

 <%= yield %> 

<main>

<article>
<header>
	<p>This is sentence. This is sentence. This is sentence.</p>
	<p>This is sentence. This is sentence. This is sentence.</p>
	<p>This is sentence. This is sentence. This is sentence.</p>
</header>
</article>

<article>
	<h1>This is sentence. This is sentence. This is sentence.</h1>
	<h1>This is sentence. This is sentence. This is sentence.</h1>
	<h1>This is sentence. This is sentence. This is sentence.</h1>
<p>
This is sentence. This is sentence. This is sentence.This is sentence. This is sentence. This is sentence.This is sentence. This is sentence. This is sentence.This is sentence. This is sentence. This is sentence.This is sentence. This is sentence. This is sentence.This is sentence. This is sentence. This is sentence.This is sentence. This is sentence. This is sentence.This is sentence. This is sentence. This is sentence.This is sentence. This is sentence. This is sentence.This is sentence. This is sentence. This is sentence.
This is sentence. This is sentence. This is sentence.<a href="http://google.com">GOOGLE</a>This is sentence. This is sentence. This is sentence.

</p>
</article>
</main>





<footer>
	This is footer.
</footer>



	</body>
</html>