<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
	<title>CRM</title>
	<meta name = "og:title" content="Bitmaker Labs //HTML / CSS"></meta>
	<link href="/stylesheet.css" rel="stylesheet" type="text/css">
</head>  

<body>
	<header>
		<h1>This is CRM project.</h1>
	</header>
	<%= yield %> <!-- これによって、ビューをつないでいる。 ボディーに入れこむ事。-->
</body>
</html>
