

<h1>Create new Contact</h1>

<form action="/contacts" method="post">
<input type="text" name="first_name" size="50" value="First_name">
<input type="text" name="last_name" size="50" value="Last_name">
<input type="text" name="email" size="50" value="email">
<input type="text" name="note"　size="50" value="note">
<input type="submit" name="Submit" value="Push ME!!!">
</form>



