

<h1>Create new Contact</h1>

<form action="/contacts" method="post">
	<input type="text" name="first_name" size="20" placeholder="First_name" >
	<input type="text" name="last_name" size="20" placeholder="Last_name">
	<input type="text" name="email" size="20" placeholder="email">
	<input type="text" name="note"　size="20" placeholder="note">
	<input type="submit" name="Submit" placeholder="Push ME!!!">
</form>



<!-- <label for=""> </label>  -->

