h1,p{
	color: white;
	font-size: 320%; 
	font-weight:bold;
	text-align: center;
}

body    {  
    background-image: url("/sample.jpg"); 
    background-size:  1500px 600px; 

}  


a{
	color:#cc0000;text-decoration:none;
	text-align: center;
	font-size: 120%; 
	text-align: center;

}


